<!DOCTYPE html>
<html>

<head>
    <!-- Custom fonts-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
    <!-- Import prism css -->
    <link href="/prism/prism.css" rel="stylesheet" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Template</title>

    <style>
        span,
        div,
        footer,
        a {
            color: #212121;
            font-weight: 400;
            margin-top: relative;
        }
        
        h2 {
            color: #212121;
            font-weight: 600;
            text-align: center;
        }
        
        h3 {
            color: #212121;
            font-weight: 500;
        }
        
        span,
        p {
            color: #212121;
            font-weight: 400;
        }
        
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="navbar">
            <nav class="nav-wrapper black">
                <div class="container">
                    <a href="/" class="brand-logo center" style="font-family: 'Ysabeau SC', sans-serif;;">Eclectic Electronic</a>
                    <a href="#" class="sidenav-trigger" data-target="mobile-links">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="/blog" style="font-family: 'Ysabeau SC', sans-serif;;">Blog</a></li>
                        <li><a href="/about_me" style="font-family: 'Ysabeau SC', sans-serif;;">About me</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav" id="mobile-links">
            <li><a href="/" style="font-family: 'Ysabeau SC', sans-serif;;">Main</a></li>
            <li><a href="/blog" style="font-family: 'Ysabeau SC', sans-serif;;">Blog</a></li>
            <li><a href="/about_me" style="font-family: 'Ysabeau SC', sans-serif;;">About me</a></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <h2>Title</h2>
        </div>
        <div class="row">
            <img src="fake.webp">
        </div>
        <div class="row">
            <h5><b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem suscipit nostrum nesciunt molestiae laudantium ipsam totam blanditiis similique officiis facilis libero velit eos quos earum fugit, consectetur doloribus asperiores? Eius.</b></h5>
        </div>

        <div class="intro">
            <h4>Idea stage</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque nobis fuga, vero magnam quia ipsa ipsam at consequuntur dicta tempora, numquam, dolor veniam ea voluptatibus facilis dolore et! Dicta, non.</p>
        </div>

        <div class="creation">
            <h4>Creation stage</h4>
            <p>Example of code (html):</p>
            <pre>
                <code class="language-html line-numbers copy-to-clipboard-button">
                    &lt;p&gt;Hello world&lt;/p&gt;
                </code>
            </pre>
            <p>Example of code (C)</p>
            <pre>
                <code class="language-C line-numbers copy-to-clipboard-button">
                    #inc    lude &lt;stdio.h&gt;

                    int main(){
                        int num1;
                        int num2;
                        printf("Enter num 1: \n");
                        scanf("%d", &num1);
                        printf("Enter num 2: \n");
                        scanf("%d", &num2);
                        
                        int sum = num1 + num2;
                        int diff = num1 - num2;
                        int mult = num1 * num2;
                        int quot = num1 / num2;
                    
                        printf("Addition is: %d \n", sum);
                        printf("Diff is: %d \n", diff);
                        printf("Mult is: %d \n", mult);
                        printf("Quot is: %d \n", quot);
                    
                        return 0;
                    }
                </code>
            </pre>
        </div>

        <div class="completion">
            <h4>Completion</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque nobis fuga, vero magnam quia ipsa ipsam at consequuntur dicta tempora, numquam, dolor veniam ea voluptatibus facilis dolore et! Dicta, non.</p>
        </div>

        <div class="outro">
            <h4>Final thoughts</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque nobis fuga, vero magnam quia ipsa ipsam at consequuntur dicta tempora, numquam, dolor veniam ea voluptatibus facilis dolore et! Dicta, non.</p>
        </div>
    </div>



    <footer class="page-footer black">
        <div class="container">
            <div class="col s3" style="text-align: left;">
                © 2023
            </div>
        </div>
        <br>
    </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="/prism/prism.js"></script>
    <script>
        $(document).ready(function() {
            $('.sidenav').sidenav();
            $('.scrollspy').scrollSpy();
            $('.collapsible').collapsible();
            $('.tabs').tabs();

            var elem = document.querySelector('.collapsible.expandable');
            var instance = M.Collapsible.init(elem, {
                accordion: false
            });
        });
    </script>
</body>

</html>